.register_search {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.5); /* Removendo a sombra na parte inferior */
    z-index: 1;
    padding: 1rem;
    gap: 1.5rem;
}


.register_entire {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.register_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}

.icon {
    font-size: 7rem; 
    margin: 0 auto;
    padding-bottom: 1rem;
    color: var(--primary);
  }

.register_box{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-color: var(--primary);
    gap: 0.5rem;
    padding: 1.5rem;
    min-height: 20rem;
    max-height: 30rem;
    border-radius: 20px;
}

.text_input{
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.text_input:hover,
.text_input:focus {
  border: 2px solid;
  border-color: var(--primary);
  box-shadow: 0px 0px 0px 7px rgba(125, 195, 241, 0.2);
  background-color: white;
}

.register_button {
    margin-top: 10px;
    width: 50%;
    border: 2px solid #0857a0;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: #3b73ee;
    cursor: pointer;
  }
  
  
  .register_button:hover {
    color: #111;
  }

  .select_box {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    background-color: #F3F3F3;
    border-radius: 10px;
    font-family: inherit;
    color: #333; 
    appearance: none;
    -webkit-appearance: none; 
    transition: all 0.5s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.8em) center;
    background-size: 1em;
}

.select_box:hover,
.select_box:focus {
    border: 2px solid var(--primary);
    box-shadow: 0px 0px 0px 7px rgba(125, 195, 241, 0.2);
    background-color: white;
}
.select_box option:disabled {
  color: gray;
  font-style: italic;
}