.search{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.search_input{
  font-size: 1.5rem;
  width: 100%; 
  height: 40px; 
  font-size: 1.1rem;
}

.search_button{
  background-color: white;
  font-size: 1.4rem;
  border: none;
  transition: 0.3s;
}

.search_button:hover{
  color: rgb(88, 176, 206);
  cursor: pointer;
}

.search_button:active{
  color: blue;
}

.result_list {
  list-style-type: none; 
  padding: 0; 
  color: rgb(39, 38, 38);
  
}

.result_list li {
  padding: 5px 10px; 
  cursor: pointer;
  display: block; 
  width: 100%; 
  transition: background-color 0.2s ease; 
  border: 1px solid #b9b9b9;

}

.result_list li:hover {
  background-color: rgb(240, 240, 240); 
  color: rgb(45, 48, 184);
}